/* Ensuring full height for the page */
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent page scrolling */
}

/* For the map container to fill the right side */
#map {
    height: 100%;
    width: 100%;
}

/* For the left panel to have a fixed height and be scrollable */
.left-panel {
    height: 100vh; /* Set the height of the left panel to fill the viewport */
    overflow-y: auto; /* Enable vertical scrolling for the left panel */
    position: relative; /* Position relative for absolute positioning of dropdowns */
}

/* For scrollable dropdown content */
.dropdown-content {
    max-height: 200px; /* Maximum height for scrolling */
    overflow-y: auto;  /* Enable vertical scrolling */
}

.custom-icon {
    font-size: 24px; /* Size of the emoji */
    line-height: 0; /* Remove line height */
    text-align: center; /* Center the emoji */
}
